@import url(./root.css);

.container_about_us {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_features {
    max-width: 971px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container_modules {
    max-width: 1016px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* min-height: 595px !important; */
}

.gap_12px {
    gap: 12px;
}

.pt_23px {
    padding-top: 23px;
}

.back_hero_img {
    background-image: url(../images/png/without_svg_hero_sec_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub_btn {
    background: var(--about-us-section-gradient);
}

.card_hover {
    width: 100%;
    height: 100%;
}

.px_37px {
    padding-right: 37px;
    padding-left: 37px;
}

.gap_51px {
    gap: 51px;
}

.max_w_375px {
    max-width: 375px;
}

.max_w_294px {
    max-width: 294px;
}

.border_line {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF40;
}

.mt_34px {
    margin-top: 34px;
}

.mt_30px {
    margin-top: 30px;
}

/* .slick-list {
    transition: none !important;
} */

.py_12px {
    padding-top: 12px;
    padding-bottom: 12px;
}

.brdr_rad_30 {
    border-radius: 30px;
}

.pb_59px {
    padding-bottom: 59px;
}

.pt_128px {
    padding-top: 128px;
}

.h_210px {
    height: 210px;
}

.pos_adjust {
    min-height: 210px !important;
}

.pt_229px {
    padding-top: 229px;
}

.nav_link:hover {
    -webkit-text-stroke: medium;
}

.pb_169px {
    padding-bottom: 169px;
}

.nav_link {
    position: relative;
}

.nav_link::before {
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    background: var(--black-color);
    bottom: -5px;
    height: 3px;
}

.features_back_img {
    background-image: url(../images/png/features_back_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.white_sec_pos {
    bottom: 0;
    left: 0;
    min-height: 300px;
}

.white_top_image {
    top: 0;
    left: 0;
    /* bottom: 70%; */
    height: 300px;
}

.white_back_top_pos {
    top: 0;
    left: 0;
    height: 320px;
}

.pt_25px {
    padding-top: 25px;
}

.gradient_text {
    background: var(--about-us-section-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.w_h_adjust {
    max-width: 275px;
}


/* .shadow_card {
    box-shadow: 0px 4px 66px 0px #0000000A;
} */

.pb_40px {
    padding-bottom: 40px;
}

.pb_217px {
    padding-bottom: 217px;
}

.pt_30px {
    padding-top: 30px;
}

.pb_25px {
    padding-bottom: 25px;
}

.pb_50px_norm {
    padding-bottom: 50px;
}

.pt_12px {
    padding-top: 12px;
}

.mb_78px {
    margin-bottom: 78px;
}

.pt_21px {
    padding-top: 21px;
}

.pb_10px {
    padding-bottom: 10px;
}

.pt_39px {
    padding-top: 39px;
}

.gradient_box {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: var(--about-us-section-gradient);
}

.pt_14px {
    padding-top: 14px;
}

.pb_12px {
    padding-bottom: 12px;
}

.pt_121px {
    padding-top: 121px;
}

.pb_43px {
    padding-bottom: 43px;
}

.line {
    width: 44px;
    height: 2px;
    background: var(--about-us-section-gradient);
}

.nav_link:hover::before {
    width: 100%;
}

.sub_btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(86.99%, #FD9B2B), color-stop(100%, #F14F09));
    background: -o-linear-gradient(top, #FD9B2B 86.99%, #F14F09 100%);
    background: linear-gradient(180deg, #FD9B2B 86.99%, #F14F09 100%);
}

.adjust_box {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    padding-bottom: 103px;
}

.pt_169px {
    padding-top: 169px;


}

/* slickslider */
.slick-list {
    padding: 30px;
}

/* the slides */
.slick-slide {
    margin: 0 50px;
}

/* the parent */
.slick-list {
    margin: 0 -50px;
}

/* end */
.pt_217px {
    padding-top: 217px;
}

.max_lg_w {
    max-width: 453px;
}

/* .box_shadow {
    box-shadow: 0px 4px 66px 0px #0000000A;
} */
/* .prev:hover svg path {
    fill: var(--black-color);
}

.next:hover svg path {
    fill: var(--black-color);
} */
.pt_368px {
    padding-top: 368px;
}

.w-48 {
    width: 48%;
}

.back_footer_img {
    background-image: url(../images/png/footer_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--color-white);
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}

.gradient_price_sel_box {
    width: 100%;
    min-height: 81px;
    background: var(--about-us-section-gradient);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gradient_price_list_box {
    width: 100%;
    min-height: 491px;
}


.brdr_rad {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pb_38px {
    padding-bottom: 38px;
}

.pe_42px {
    padding-right: 42px;
}

.btn_out {
    border: 1px solid white;
    width: 77px;
    height: 34px;
    border-radius: 19px;
    background-color: var(--color-white);
    position: relative;
    cursor: pointer;
}

.click_effect {
    cursor: pointer;
}

.move {
    right: 0;
    -webkit-transform: translate(-3px, -50%) !important;
    -ms-transform: translate(-3px, -50%) !important;
    transform: translate(-3px, -50%) !important;
}

.mb_142px {
    margin-bottom: 142px;
}

.price_section {
    background: var(--about-us-section-gradient);
    min-height: 171px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

textarea {
    resize: none;
}

.nonetran {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.price_section:hover {
    background: -o-linear-gradient(353.36deg, #FD9B2B 86.99%, #F14F09 100%);
    background: linear-gradient(96.64deg, #FD9B2B 86.99%, #F14F09 100%);
    /* -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); */
}

.mb_35px {
    margin-bottom: 35px;
}

.pt_11px {
    padding-top: 11px;
}

sup {
    top: -32px;
}

.end_top {
    top: 20px;
    right: 20px;
}

.dia_specs {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--color-white);
}

.cross_pos_adjust {
    top: 20px;
    right: 20px;
}

.moving_btn {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: var(--about-us-section-gradient);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(3px, -50%);
    -ms-transform: translate(3px, -50%);
    transform: translate(3px, -50%);
}

.gradient_price_adjust_box {
    width: 405px;
    min-height: 34px;
}

.pt_191px {
    padding-top: 191px;
}

.ps_41px {
    padding-left: 41px;
}

.pb_147px {
    padding-bottom: 147px;
}

.footer_link:hover::before {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.footer_link:hover {
    -webkit-text-stroke: thin;
}

.footer_link {
    position: relative;
    cursor: pointer;
}

.pt_82px {
    padding-top: 82px;
}

.pt_75px {
    padding-top: 75px;
}

.mt_60px {
    margin-top: 60px;
}

.blue_box {
    bottom: 10px;
    left: 10px;
    /* z-index: -1; */
}

.brdr_out {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black-color);
}

.prev:hover svg defs stop {
    stop-color: #F7608C;
}

.preloader {
    background: var(--black-color);
    position: fixed;
    /* h-100 top-0 start-0 d-flex align-items-center justify-content-center z-3 */
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    display: flex;
}

.w_h_preloader {
    width: 200px;
    height: 200px;
}

.show_loader {
    top: -100%;
}

.pos_adjust_scroll {
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
}

.cross_pricing_section {
    left: 75%;
    top: 0;
    transform: translate(-50%, -50%);
}

.footer_blue_box {
    left: 90px;
    top: -73px;
    transform: translate(0, -73px);
}

.prev {
    cursor: pointer;
}

.w_h_scroll_to_top {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--about-us-section-gradient);
}

.w_h_scroll_to_top:hover {
    background: linear-gradient(96.64deg, #FD9B2B 86.99%, #F14F09 100%);
    transform: scale(1.1);
}

.w_h_scroll_to_top:hover svg.svg_scroll path {
    fill: #F14F09 !important;
}


.next {
    cursor: pointer;
}

.hover_effect {
    cursor: pointer;
}

.prev:hover svg defs stop[offset="1"] {
    stop-color: #F8AC58;
}

.next:hover svg defs stop {
    stop-color: #F7608C;
}

.next:hover svg defs stop[offset="1"] {
    stop-color: #F8AC58;
}

.orange_box {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: var(--orange-box-color);
    top: 25%;
    /* left: 50%; */
    right: 0;
    z-index: 2;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.adjust_position {
    bottom: 0;
    left: -106px;
}

@media (max-width: 1024px) {
    .lg_view {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: var(--color-white);
        z-index: 10;
    }

    .flex_max_lg_col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gap_max_lg_5 {
        gap: 48px !important;
    }

    .menubar {
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 11;
        cursor: pointer;
    }

    .menubar>* {
        background-color: var(--black-color);
        width: 100%;
        height: 3px;
    }

    .show {
        left: 0;
    }
}

@media (max-width: 992px) {
    .back_hero_img {
        background-image: url(../images/png/hero\ section\ img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .orange_box {
        display: none;
    }

    .spring {
        display: none;
    }

    .fs_50px {
        font-size: var(--fs-50);
    }

    .lh_54px {
        line-height: var(--lh-54);
    }

    .adjust_box {
        padding-bottom: 110px;
    }

    .text_max_center {
        text-align: center;
    }

    .prev {
        display: none !important;
    }

    .next {
        display: none !important;
    }
}

@media (max-width: 991.4px) {
    .card_hover:hover {
        -webkit-box-shadow: 0px 0px 50px -2px #000000 !important;
        box-shadow: 0px 0px 50px -2px #000000 !important;
    }
}

@media (max-width: 991.4px) and (min-width: 768px) {
    .min_h_632px {
        height: 632px;
    }

    .container_modules {
        min-height: 595px !important;
    }
}

@media (max-width: 768px) {

    .fs_max_md_40 {
        font-size: var(--fs-40);
    }

    .lh_max_md_48 {
        line-height: var(--lh-48);
    }

    .ps_0 {
        padding-left: 0;
    }

    .w_h_preloader {
        width: 150px;
        height: 150px;
    }

    .loader_text {
        font-size: var(--fs-50);
        line-height: var(--lh-54);
    }

    .min_h_793px {
        min-height: 793px !important;
    }

    .container_modules {
        min-height: 595px !important;
    }

    .row_height {
        min-height: 632px;
    }
}

@media (max-width: 576px) {
    .fs_max_sm_30 {
        font-size: var(--fs-30);
    }

    .lh_max_sm_36 {
        line-height: var(--lh-36);
    }

    .fs_32px {
        font-size: var(--fs-32);
    }

    .lh_36 {
        line-height: var(--lh-36);
    }

    .fs_30px {
        font-size: var(--fs-30);
    }

    .fs_14px {
        font-size: var(--fs-14);
    }

    .lh_24px {
        line-height: var(--lh-23);
    }

    .fs_16px {
        font-size: var(--fs-16);
    }

    .slick-list {
        padding: 5px !important;
    }

    .pt_50px {
        padding-top: 50px;
    }

    .pb_50px {
        padding-bottom: 50px;
    }

    .pb_24px {
        padding-bottom: 24px;
    }

    .fs_max_md {
        font-size: small;
    }

    .fs_max_md_med {
        font-size: medium;
    }

    .w_h_preloader {
        width: 100px;
        height: 100px;
    }

    .loader_text {
        font-size: var(--fs-30);
        line-height: var(--lh-48);
    }
}


@media (min-width: 992px) {
    .card_hover {
        /* max-width: 293px; */
        height: 300px;
        border-radius: 8px;
    }

    .hover_effect:hover .card_hover {
        /* position: absolute; */
        /* top: 0;
        width: 100%;
        height: 100%; */
        -webkit-transform: translate(0, -43px);
        -ms-transform: translate(0, -43px);
        transform: translate(0, -43px);
        background: var(--about-us-section-gradient);
    }

    .hover_effect:hover .text_hover {
        color: var(--color-white);
        opacity: 1 !important;
    }

    /* .pos-rel-lg {
        position: relative;
    } */

    .hover_effect:hover .gradient_box {
        background: var(--color-white);
        /* only background can replace background */
    }

    .hover_effect:hover .gradient_box svg defs stop {
        stop-color: #F7608C;
    }

    .hover_effect:hover .gradient_box svg defs stop[offset="1"] {
        stop-color: #F8AC58;
    }

    .hover_effect:hover .svg_icon path {
        fill: #F7608C;
    }

    /* .min_h_293px {
        min-height: 316px;
    } */

    /* .max_w_md {
        max-width: 293px;
    } */

    .min_h_632px {
        height: 632px;
    }

    .container_modules {
        min-height: 595px !important;
    }

    .back_footer_img {
        background-image: url(../images/png/footer_back_img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
}

@media (min-width: 1920px) {
    .prev {
        position: absolute;
        top: 65%;
        right: 20%;
        /* transform: translate(0, -50%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .next {
        position: absolute;
        top: 65%;
        left: 20%;
        /* transform: translate(0, -50%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
}

@media (max-width: 1919px) and (min-width: 1400px) {
    .prev {
        position: absolute;
        right: 10%;
        top: 65%;
        /* transform: translate(0, -65%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .next {
        position: absolute;
        top: 65%;
        left: 10%;
        /* transform: translate(0, -50%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
}

@media (max-width: 1400px) {
    .prev {
        position: absolute;
        right: 0%;
        top: 65%;
        /* transform: translate(0, -65%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .next {
        position: absolute;
        top: 65%;
        left: 0%;
        /* transform: translate(0, -50%); */
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
}

@media (min-width: 768px) {
    .cross_pos_adjust {
        top: 35px;
        right: 84px;
    }

    .blue_box {
        bottom: 129px;
        left: 97px;
        z-index: 1;
    }

    .cross_pos_adjust {
        top: 43px;
        right: 50px;
    }
}